# Combined Analysis of previous analysis

In [199]:
import pandas as pd
import numpy as np

In [200]:
#base_path = "/content/drive/MyDrive/SMA_Project/"
base_path = "Data/"
files = ["Tweets_Hate.xlsx","Tweets_NER.xlsx", "Tweets_Sentiment.xlsx", "Tweets_Topics.xlsx"]
dfs = []

for i,file in enumerate(files):
  df = pd.read_excel(base_path + file)
  print(len(df.index))
  if i!=0:
    df = df.drop(df.columns[list(range(0,10))], axis=1)
  display(df)
  dfs.append(df)

22534

,text,user screen name,user followers,url,created at,replies,retweets,likes,mention,hashtag,Hate
0,Doesn't vaccine approval typically take 6 and ...,spadesgeek,19,https://mobile.twitter.com,2021-06-10 19:24:26.999999,0,0,0,"MatthewDavidH,EricTopol,TheEconomist,US_FDA,la...",NaN,False
1,"You're right, too bad this vaccine doesn't hav...",selirodz,78,http://twitter.com/download/android,2021-06-10 19:24:26.000000,0,0,0,"DharkArk,JoeBiden",NaN,False
2,The vaccine is free…❤️,FlowerGirlBaker,1486,http://twitter.com/#!/download/ipad,2021-06-10 19:23:57.000000,0,0,0,"theredshift11,POTUS,studentsfordemo",NaN,False
3,. the world needs vaccine access now. Th...,DevizesGreens,150,https://mobile.twitter.com,2021-06-10 19:23:49.000000,0,0,0,"BorisJohnson,JustinTrudeau,POTUS,EUCouncil,Reg...","COVID19,G7,EndThePandemic,COVAX",False
4,But you can get it.\nI remember getting my Mum...,canfixstoopid,355,https://mobile.twitter.com,2021-06-10 19:23:42.000000,0,0,0,"SerendipityOr,Shockwave_Shaun,Ozymandiyaas,Joe...",NaN,False
...,...,...,...,...,...,...,...,...,...,...,...
22529,The country need to check on people who take o...,LSungoun,90,http://twitter.com/download/android,2021-05-16 04:11:06.000000,0,0,0,"POTUS,HillaryClinton,Jaemyung_Lee",NaN,False
22530,Why can you not go maskless with out vaccine? ...,bcgov115,38,http://twitter.com/download/iphone,2021-05-16 04:11:01.000000,0,0,0,POTUS,NaN,False
22531,"You say the immunocomprimised ""should discuss ...",dmdmdtweet,1,http://twitter.com/download/android,2021-05-16 04:08:22.999999,0,0,1,CDCgov,NaN,False
22532,"Well, Kate, not everyone is vaccinated and the...",TuffCrusherPlus,83,http://twitter.com/download/iphone,2021-05-16 04:08:03.000000,0,0,0,"50treeK8,OregonGovBrown,CDCgov",NaN,False
22533,I disagree. Look at the NYC and Charlottesvill...,rehtaeh1628,728,http://twitter.com/download/iphone,2021-05-16 04:03:26.000000,0,0,1,"RadioFreeTom,Ned_Newhouse,jeffjarvis,ashishkjh...",NaN,False

22534

,Person,Norp,Org,Gpe
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,G7
4,Mumps,NaN,NaN,NaN
...,...,...,...,...
22529,Joe Biden;Hillary Clinton;Dogisa Jaemyung_Lee,NaN,NaN,NaN
22530,NaN,NaN,NaN,NaN
22531,NaN,NaN,NaN,NaN
22532,Kate,NaN,NaN,NaN
22533,NaN,NaN,NaN,Charlottesville

22534

       Sentiment  Polarity
0        -0.3724  Negative
1        -0.7353  Negative
2         0.5106  Positive
3         0.4215  Positive
4         0.0000   Neutral
...          ...       ...
22529     0.6898  Positive
22530     0.0000   Neutral
22531    -0.3987  Negative
22532    -0.4318  Negative
22533    -0.0772  Negative

[22534 rows x 2 columns]

22534

                         Topic
0                  Death/Child
1            Risk/Country/mRNA
2            Risk/Country/mRNA
3                         Mask
4      People get (vaccinated)
...                        ...
22529        Risk/Country/mRNA
22530              Biden/Trump
22531        Risk/Country/mRNA
22532              Death/Child
22533        Risk/Country/mRNA

[22534 rows x 1 columns]

In [201]:
df_tweets = pd.concat(dfs, axis=1)

In [10]:
df_tweets

,text,user screen name,user followers,url,created at,replies,retweets,likes,mention,hashtag,Hate,Person,Norp,Org,Gpe,Sentiment,Polarity,Topic
0,Doesn't vaccine approval typically take 6 and ...,spadesgeek,19,https://mobile.twitter.com,2021-06-10 19:24:26.999999,0,0,0,"MatthewDavidH,EricTopol,TheEconomist,US_FDA,la...",NaN,False,NaN,NaN,NaN,NaN,-0.3724,Negative,Death/Child
1,"You're right, too bad this vaccine doesn't hav...",selirodz,78,http://twitter.com/download/android,2021-06-10 19:24:26.000000,0,0,0,"DharkArk,JoeBiden",NaN,False,NaN,NaN,NaN,NaN,-0.7353,Negative,Risk/Country/mRNA
2,The vaccine is free…❤️,FlowerGirlBaker,1486,http://twitter.com/#!/download/ipad,2021-06-10 19:23:57.000000,0,0,0,"theredshift11,POTUS,studentsfordemo",NaN,False,NaN,NaN,NaN,NaN,0.5106,Positive,Risk/Country/mRNA
3,. the world needs vaccine access now. Th...,DevizesGreens,150,https://mobile.twitter.com,2021-06-10 19:23:49.000000,0,0,0,"BorisJohnson,JustinTrudeau,POTUS,EUCouncil,Reg...","COVID19,G7,EndThePandemic,COVAX",False,NaN,NaN,NaN,G7,0.4215,Positive,Mask
4,But you can get it.\nI remember getting my Mum...,canfixstoopid,355,https://mobile.twitter.com,2021-06-10 19:23:42.000000,0,0,0,"SerendipityOr,Shockwave_Shaun,Ozymandiyaas,Joe...",NaN,False,Mumps,NaN,NaN,NaN,0.0000,Neutral,People get (vaccinated)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22529,The country need to check on people who take o...,LSungoun,90,http://twitter.com/download/android,2021-05-16 04:11:06.000000,0,0,0,"POTUS,HillaryClinton,Jaemyung_Lee",NaN,False,Joe Biden;Hillary Clinton;Dogisa Jaemyung_Lee,NaN,NaN,NaN,0.6898,Positive,Risk/Country/mRNA
22530,Why can you not go maskless with out vaccine? ...,bcgov115,38,http://twitter.com/download/iphone,2021-05-16 04:11:01.000000,0,0,0,POTUS,NaN,False,NaN,NaN,NaN,NaN,0.0000,Neutral,Biden/Trump
22531,"You say the immunocomprimised ""should discuss ...",dmdmdtweet,1,http://twitter.com/download/android,2021-05-16 04:08:22.999999,0,0,1,CDCgov,NaN,False,NaN,NaN,NaN,NaN,-0.3987,Negative,Risk/Country/mRNA
22532,"Well, Kate, not everyone is vaccinated and the...",TuffCrusherPlus,83,http://twitter.com/download/iphone,2021-05-16 04:08:03.000000,0,0,0,"50treeK8,OregonGovBrown,CDCgov",NaN,False,Kate,NaN,NaN,NaN,-0.4318,Negative,Death/Child
22533,I disagree. Look at the NYC and Charlottesvill...,rehtaeh1628,728,http://twitter.com/download/iphone,2021-05-16 04:03:26.000000,0,0,1,"RadioFreeTom,Ned_Newhouse,jeffjarvis,ashishkjh...",NaN,False,NaN,NaN,NaN,Charlottesville,-0.0772,Negative,Risk/Country/mRNA

In [205]:
df_tweets_drop = df_tweets.drop(["user screen name", "user followers", "url", "created at", "replies", "retweets", "likes"], axis=1)

# Frequency Hashtags, mentions, entities

In [32]:
# Python program to count the frequency of
# elements in a list using a dictionary
# from https://www.geeksforgeeks.org/counting-the-frequencies-in-a-list-using-dictionary-in-python/
 
def CountFrequency(my_list):
 
    # Creating an empty dictionary
    freq = {}
    for item in my_list:
        if (item in freq):
            freq[item] += 1
        else:
            freq[item] = 1
    return sorted(freq.items(), key=lambda item: item[1], reverse=True)

In [39]:
# Mentions frequencies
mentions = df_tweets.mention.str.split(",")
mentions_list = []
for m in mentions:
    mentions_list.extend([n.lower() for n in m])
CountFrequency(mentions_list)[0:40]

[('potus', 13132),
 ('cdcgov', 4815),
 ('joebiden', 4590),
 ('borisjohnson', 1262),
 ('justintrudeau', 1027),
 ('whitehouse', 1006),
 ('us_fda', 878),
 ('regsprecher', 841),
 ('vp', 836),
 ('scottmorrisonmp', 814),
 ('eucouncil', 768),
 ('cdcdirector', 665),
 ('pfizer', 470),
 ('kamalaharris', 270),
 ('who', 257),
 ('jpn_pmo', 227),
 ('whcovidresponse', 214),
 ('moderna_tx', 211),
 ('g7', 209),
 ('speakerpelosi', 178),
 ('cnn', 175),
 ('whcos', 172),
 ('hhsgov', 155),
 ('narendramodi', 148),
 ('nytimes', 130),
 ('secblinken', 129),
 ('pmoindia', 122),
 ('drwoodcockfda', 121),
 ('noorchashm', 119),
 ('statedept', 119),
 ('wto', 118),
 ('housedemocrats', 118),
 ('govmurphy', 118),
 ('foxnews', 117),
 ('presssec', 110),
 ('erictopol', 105),
 ('alexberenson', 98),
 ('thedemocrats', 98),
 ('repthomasmassie', 98),
 ('emmanuelmacron', 96)]

In [45]:
# Hashtag frequencies
hashtag = df_tweets.hashtag.str.split(",").dropna()
print(hashtag)
hashtag_list = []
for m in hashtag:
    hashtag_list.extend([n.lower() for n in m])
CountFrequency(hashtag_list)[0:40]

3                 [COVID19, G7, EndThePandemic, COVAX]
21                             [COVIDCollegeChallenge]
24                      [China, America, CCP, COVID19]
26                [COVID19, G7, EndThePandemic, COVAX]
29                [COVID19, G7, EndThePandemic, COVAX]
                             ...
22509                      [4thStimulus, MakeItHappen]
22511    [Covid19, CDCgov, WHO, canada, Australia, UK]
22516                                          [sheep]
22520                      [WeNeedVaccinePassportsNow]
22525                                        [COVID19]
Name: hashtag, Length: 4472, dtype: object

[('covid19', 2127),
 ('g7', 1015),
 ('covax', 821),
 ('endthepandemic', 779),
 ('vaccine', 567),
 ('peoplesvaccine', 440),
 ('patents', 237),
 ('tripswaiver', 178),
 ('vaccination', 174),
 ('covid', 145),
 ('vaccinateourworld', 142),
 ('peoplenotprofits', 141),
 ('vownow', 137),
 ('covidvaccine', 123),
 ('vaccinated', 90),
 ('g7uk', 88),
 ('loveisnottourism', 84),
 ('vaccines', 82),
 ('coronavirus', 79),
 ('pfizer', 74),
 ('moderna', 71),
 ('freethevaccine', 66),
 ('usa', 61),
 ('wecandothis', 58),
 ('us', 51),
 ('trump', 51),
 ('cdc', 51),
 ('getvaccinated', 48),
 ('biden', 45),
 ('pandemic', 43),
 ('dv', 42),
 ('joebiden', 40),
 ('covid19vaccine', 35),
 ('vaccineswork', 32),
 ('india', 31),
 ('dv2021', 31),
 ('covid_19', 28),
 ('covidcollegechallenge', 26),
 ('liftthetravelban', 26),
 ('america', 24)]

In [47]:
# Person
persons = df_tweets.Person.str.split(";").dropna()
persons_list = []
for m in persons:
    persons_list.extend([n.lower() for n in m])
CountFrequency(persons_list)[0:40]

[('biden', 1019),
 ('vaccine', 771),
 ('trump', 598),
 ('pfizer', 556),
 ('moderna', 259),
 ('joe', 259),
 ('covid-19', 213),
 ('joe biden', 136),
 ('covid', 132),
 ('don', 130),
 ('fauci', 86),
 ('angela merkel', 81),
 ('donald trump', 67),
 ('johnson', 59),
 ('trumps', 51),
 ('lol', 48),
 ('bill gates', 26),
 ('mask', 26),
 ('covid vaccine', 26),
 ('donald j trump', 19),
 ('glad', 17),
 ('moderna covid19 vaccine', 17),
 ('harris', 16),
 ('dr fauci', 13),
 ('covid-19 vaccine', 12),
 ('joey', 12),
 ('obama', 11),
 ('bill', 11),
 ('nepal', 11),
 ('donald', 11),
 ('tsai', 11),
 ('rochelle walensky', 11),
 ('higherground', 11),
 ('putin', 10),
 ('hooray', 10),
 ('covid 19', 10),
 ('tucker carlson', 9),
 ('hunter', 9),
 ('wear', 9),
 ('anthony fauci', 9)]

In [49]:
# Nationalities or religious or political groups
norps = df_tweets.Norp.str.split(";").dropna()
norps_list = []
for m in norps:
    norps_list.extend([n.lower() for n in m])
CountFrequency(norps_list)[0:40]

[('americans', 529),
 ('american', 323),
 ('chinese', 120),
 ('republicans', 90),
 ('covid', 90),
 ('democrats', 87),
 ('indian', 63),
 ('republican', 61),
 ('palestinians', 41),
 ('democrat', 36),
 ('german', 34),
 ('canadians', 26),
 ('indians', 23),
 ('dems', 18),
 ('israeli', 17),
 ('russian', 16),
 ('european', 16),
 ('canadian', 16),
 ('asian', 15),
 ('nepalese', 15),
 ('palestinian', 15),
 ('democratic', 13),
 ('turkish', 10),
 ('texans', 9),
 ('marxist', 9),
 ('british', 8),
 ('dem', 8),
 ('brazilians', 8),
 ('pandemic - benefits', 8),
 ('zeneca', 8),
 ('racists', 8),
 ('hispanic', 7),
 ('african american', 7),
 ('fauci', 7),
 ('brazilian', 7),
 ('korean', 7),
 ('african', 6),
 ('thai', 6),
 ('europeans', 6),
 ('japanese', 6)]

In [50]:
# Organizations
orgs = df_tweets.Org.str.split(";").dropna()
orgs_list = []
for m in orgs:
    orgs_list.extend([n.lower() for n in m])
CountFrequency(orgs_list)[0:40]

[('cdc', 506),
 ('fda', 385),
 ('trump', 307),
 ('j&j', 128),
 ('learn', 92),
 ('eu', 85),
 ('gop', 77),
 ('astrazeneca', 66),
 ('eua', 65),
 ('covidvaccine', 60),
 ('operation warp speed', 43),
 ('biden & harris', 39),
 ('the white house', 38),
 ('vaccinateourworld peoplesvaccine', 38),
 ('fauci / cdc', 38),
 ('johnson & johnson', 35),
 ('bs', 31),
 ('vaccination', 30),
 ('getvaccinated', 30),
 ('un', 30),
 ('rna', 27),
 ('who', 27),
 ('peoplesvaccine', 26),
 ('jnj', 24),
 ('&', 23),
 ('icu', 23),
 ('congress', 23),
 ('the sheeple who follow him need', 23),
 ('the murphydiot administration needs to be', 23),
 ('az', 22),
 ('gop tax cuts & vaccine', 22),
 ('africanamericans', 22),
 ('fauci', 21),
 ('mmr', 20),
 ('media', 20),
 ('k jobs & unemployment', 20),
 ('hpv', 19),
 ('ccp', 18),
 ('pcr', 18),
 ('vaccines', 18)]

In [54]:
# Geopolitcal entities
gpes = df_tweets.Gpe.str.split(";").dropna()
gpes_list = []
for m in gpes:
    gpes_list.extend([n.lower().replace(".","") for n in m])
CountFrequency(gpes_list)[0:40]

[('us', 1482),
 ('g7', 995),
 ('india', 499),
 ('america', 365),
 ('uk', 299),
 ('usa', 277),
 ('china', 270),
 ('moderna', 160),
 ('canada', 120),
 ('taiwan', 102),
 ('israel', 97),
 ('the united states', 95),
 ('germany', 63),
 ('brazil', 58),
 ('russia', 52),
 ('japan', 45),
 ('mexico', 43),
 ('corona', 41),
 ('guatemala', 40),
 ('texas', 39),
 ('florida', 39),
 ('gaza', 35),
 ('nepal', 34),
 ('kamala', 33),
 ('california', 26),
 ('wuhan', 25),
 ('australia', 25),
 ('palestine', 23),
 ('iran', 21),
 ('ohio', 21),
 ('france', 20),
 ('biontech', 17),
 ('thailand', 16),
 ('dc', 16),
 ('united states', 15),
 ('philippines', 15),
 ('south africa', 14),
 ('korea', 13),
 ('eu', 13),
 ('zero', 13)]

In [21]:
# Polarity frequencies
df_tweets["Polarity"].value_counts()

Positive    11167
Negative     7691
Neutral      3676
Name: Polarity, dtype: int64

In [55]:
# Hate frequencies
df_tweets["Hate"].value_counts()

False    20789
True      1745
Name: Hate, dtype: int64

In [56]:
# Topic frequencies
df_tweets["Topic"].value_counts()

Risk/Country/mRNA                    11351
Death/Child                           6431
Biden/Trump                           1771
Death/Infection                        824
Mask                                   781
Passport/Citizien                      653
Experiment                             226
Blood cloth/Research                   211
People get (vaccinated)                116
Administration/Effectivness            109
Fight/Plan                              54
Herd immunity/Republicans/Sharing        7
Name: Topic, dtype: int64

## Combined analysis of class (Sentiment or Hate) with additonal condition
Because the code is repeating itself it is only commented in the last three cells

In [143]:
topics = list(dict.fromkeys(df_tweets["Topic"].to_list())) + ["All"]
classes = ["Polarity", "Hate"]
labels = [["Positive", "Negative", "Neutral"], [True, False]]

In [144]:
topic_list = []
for topic in topics:
    if topic != "All":
        df_tweets_topic = df_tweets[df_tweets["Topic"] == topic]
    else:
        df_tweets_topic = df_tweets
    class_list = []
    for i, c in enumerate(classes):
        counts  = df_tweets_topic[c].value_counts()
        label_list = []
        for label in labels[i]:
            try:
                label_list.append(counts[label])
            except:
                label_list.append(0)
        class_list.append(label_list)
    topic_list.append(class_list)
topic_list

[[[3429, 1923, 1079], [403, 6028]],
 [[4936, 4353, 2062], [1055, 10296]],
 [[779, 0, 2], [0, 781]],
 [[64, 23, 29], [7, 109]],
 [[323, 385, 116], [79, 745]],
 [[124, 64, 38], [15, 211]],
 [[158, 44, 9], [17, 194]],
 [[441, 186, 26], [9, 644]],
 [[51, 35, 23], [4, 105]],
 [[832, 662, 277], [154, 1617]],
 [[26, 14, 14], [1, 53]],
 [[4, 2, 1], [1, 6]],
 [[11167, 7691, 3676], [1745, 20789]]]

In [216]:
topic_sentiment_df = pd.DataFrame([topic[0] for topic in topic_list])
topic_sentiment_df.index = topics
topic_sentiment_df.columns = labels[0]
sums = []
for topic in topics:
    s = topic_sentiment_df.loc[topic].sum()
    sums.append(s)
    for column in topic_sentiment_df.columns:
        topic_sentiment_df.loc[topic, column] = topic_sentiment_df.loc[topic, column]/s
topic_sentiment_df["Nr. of Tweets"] = sums    
topic_sentiment_df

                                   Positive  Negative   Neutral  Nr. of Tweets
Death/Child                        0.533199  0.299020  0.167781         6431.0
Risk/Country/mRNA                  0.434852  0.383490  0.181658        11351.0
Mask                               0.997439  0.000000  0.002561          781.0
People get (vaccinated)            0.551724  0.198276  0.250000          116.0
Death/Infection                    0.391990  0.467233  0.140777          824.0
Experiment                         0.548673  0.283186  0.168142          226.0
Blood cloth/Research               0.748815  0.208531  0.042654          211.0
Passport/Citizien                  0.675345  0.284839  0.039816          653.0
Administration/Effectivness        0.467890  0.321101  0.211009          109.0
Biden/Trump                        0.469791  0.373800  0.156409         1771.0
Fight/Plan                         0.481481  0.259259  0.259259           54.0
Herd immunity/Republicans/Sharing  0.571429  0.285714  0.142857            7.0
All                                0.495562  0.341306  0.163131        22534.0

In [215]:
topic_hate_df = pd.DataFrame([topic[1] for topic in topic_list])
topic_hate_df.index = topics
topic_hate_df.columns = labels[1]
sums = []
for topic in topics:
    s = topic_hate_df.loc[topic].sum()
    sums.append(s)
    for column in topic_hate_df.columns:
        topic_hate_df.loc[topic, column] = topic_hate_df.loc[topic, column]/s
topic_hate_df["Nr. of Tweets"] = sums    
topic_hate_df

                                       True     False  Nr. of Tweets
Death/Child                        0.062665  0.937335         6431.0
Risk/Country/mRNA                  0.092943  0.907057        11351.0
Mask                               0.000000  1.000000          781.0
People get (vaccinated)            0.060345  0.939655          116.0
Death/Infection                    0.095874  0.904126          824.0
Experiment                         0.066372  0.933628          226.0
Blood cloth/Research               0.080569  0.919431          211.0
Passport/Citizien                  0.013783  0.986217          653.0
Administration/Effectivness        0.036697  0.963303          109.0
Biden/Trump                        0.086957  0.913043         1771.0
Fight/Plan                         0.018519  0.981481           54.0
Herd immunity/Republicans/Sharing  0.142857  0.857143            7.0
All                                0.077439  0.922561        22534.0

In [132]:
mentions = ["potus", "cdcgov", "borisjohnson", "justintrudeau", "us_fda", "regsprecher", 'scottmorrisonmp', "vp", 'eucouncil', "cdcdirector", "pfizer", 'kamalaharris', "jpn_pmo", 'moderna_tx', "g7", 'speakerpelosi', "erictopol", 'emmanuelmacron', "All"]
classes = ["Polarity", "Hate"]
labels = [["Positive", "Negative", "Neutral"], [True, False]]

In [157]:
mention_list = []
for mention in mentions:
    if mention != "All":
        df_tweets_mention = df_tweets[[mention in x for x in df_tweets.mention.str.lower().str.split(",")]]
    else:
        df_tweets_mention = df_tweets
    class_list = []
    for i, c in enumerate(classes):
        counts  = df_tweets_mention[c].value_counts()
        label_list = []
        for label in labels[i]:
            try:
                label_list.append(counts[label])
            except:
                label_list.append(0)
        class_list.append(label_list)
    mention_list.append(class_list)
mention_list

[[[6659, 4398, 1930], [1037, 11950]],
 [[2196, 1682, 894], [256, 4516]],
 [[1000, 216, 42], [7, 1251]],
 [[821, 183, 21], [4, 1021]],
 [[438, 271, 142], [27, 824]],
 [[839, 2, 0], [2, 839]],
 [[788, 9, 17], [1, 813]],
 [[436, 271, 104], [46, 765]],
 [[764, 0, 4], [0, 768]],
 [[317, 256, 81], [34, 620]],
 [[244, 88, 98], [11, 419]],
 [[158, 69, 40], [18, 249]],
 [[33, 164, 30], [2, 225]],
 [[108, 55, 46], [7, 202]],
 [[125, 52, 23], [4, 196]],
 [[74, 71, 29], [21, 153]],
 [[51, 30, 23], [3, 101]],
 [[40, 36, 20], [2, 94]],
 [[11167, 7691, 3676], [1745, 20789]]]

In [207]:
mention_sentiment_df = pd.DataFrame([mention[0] for mention in mention_list])
mention_sentiment_df.index = mentions
mention_sentiment_df.columns = labels[0]
sums = []
for mention in mentions:
    s = mention_sentiment_df.loc[mention].sum()
    sums.append(s)
    for column in mention_sentiment_df.columns:
        mention_sentiment_df.loc[mention, column] = mention_sentiment_df.loc[mention, column]/s
mention_sentiment_df["Nr. of Tweets"] = sums     
mention_sentiment_df

                 Positive  Negative   Neutral  Nr. of Tweets
potus            0.512744  0.338646  0.148610        12987.0
cdcgov           0.460184  0.352473  0.187343         4772.0
borisjohnson     0.794913  0.171701  0.033386         1258.0
justintrudeau    0.800976  0.178537  0.020488         1025.0
us_fda           0.514689  0.318449  0.166863          851.0
regsprecher      0.997622  0.002378  0.000000          841.0
scottmorrisonmp  0.968059  0.011057  0.020885          814.0
vp               0.537608  0.334155  0.128237          811.0
eucouncil        0.994792  0.000000  0.005208          768.0
cdcdirector      0.484709  0.391437  0.123853          654.0
pfizer           0.567442  0.204651  0.227907          430.0
kamalaharris     0.591760  0.258427  0.149813          267.0
jpn_pmo          0.145374  0.722467  0.132159          227.0
moderna_tx       0.516746  0.263158  0.220096          209.0
g7               0.625000  0.260000  0.115000          200.0
speakerpelosi    0.425287  0.408046  0.166667          174.0
erictopol        0.490385  0.288462  0.221154          104.0
emmanuelmacron   0.416667  0.375000  0.208333           96.0
All              0.495562  0.341306  0.163131        22534.0

In [208]:
mention_hate_df = pd.DataFrame([mention[1] for mention in mention_list])
mention_hate_df.index = mentions
mention_hate_df.columns = labels[1]
sums = []
for mention in mentions:
    s = mention_hate_df.loc[mention].sum()
    sums.append(s)
    for column in mention_hate_df.columns:
        mention_hate_df.loc[mention, column] = mention_hate_df.loc[mention, column]/s
mention_hate_df["Nr. of Tweets"] = sums     
mention_hate_df

                     True     False  Nr. of Tweets
potus            0.079849  0.920151        12987.0
cdcgov           0.053646  0.946354         4772.0
borisjohnson     0.005564  0.994436         1258.0
justintrudeau    0.003902  0.996098         1025.0
us_fda           0.031727  0.968273          851.0
regsprecher      0.002378  0.997622          841.0
scottmorrisonmp  0.001229  0.998771          814.0
vp               0.056720  0.943280          811.0
eucouncil        0.000000  1.000000          768.0
cdcdirector      0.051988  0.948012          654.0
pfizer           0.025581  0.974419          430.0
kamalaharris     0.067416  0.932584          267.0
jpn_pmo          0.008811  0.991189          227.0
moderna_tx       0.033493  0.966507          209.0
g7               0.020000  0.980000          200.0
speakerpelosi    0.120690  0.879310          174.0
erictopol        0.028846  0.971154          104.0
emmanuelmacron   0.020833  0.979167           96.0
All              0.077439  0.922561        22534.0

In [153]:
norps = ["chinese", ['republicans', "republican"], ["democrats", "democrat", "dems", "dem"], ["indians", "indian"], "german",["palestinians", 'palestinian'],["canadians", "canadian"],'russian','african american','hispanic',"All"]
classes = ["Polarity", "Hate"]
labels = [["Positive", "Negative", "Neutral"], [True, False]]

In [169]:
norp_list = []
for norp in norps:
    if norp != "All":
        split_list = df_tweets.Norp.str.lower().str.split(";").apply(lambda d: d if isinstance(d, list) else [])
        if type(norp) != list:
            df_tweets_norp = df_tweets[[norp in x for x in split_list]]
        else:
            # create all false boolean list
            boolean_list = np.array([False for x in split_list])
            for n in norp:
                # combine two list with elementwise logical or operator
                boolean_list = boolean_list | np.array([n in x for x in split_list])
            df_tweets_norp = df_tweets[boolean_list]
    else:
        df_tweets_norp = df_tweets
    class_list = []
    for i, c in enumerate(classes):
        counts  = df_tweets_norp[c].value_counts()
        label_list = []
        for label in labels[i]:
            try:
                label_list.append(counts[label])
            except:
                label_list.append(0)
        class_list.append(label_list)
    norp_list.append(class_list)
norp_list

[[[54, 19, 12], [2, 83]],
 [[63, 56, 17], [18, 118]],
 [[68, 53, 13], [24, 110]],
 [[40, 31, 9], [5, 75]],
 [[12, 7, 13], [0, 32]],
 [[22, 17, 10], [5, 44]],
 [[17, 14, 8], [2, 37]],
 [[8, 4, 4], [0, 16]],
 [[0, 2, 5], [1, 6]],
 [[1, 1, 5], [0, 7]],
 [[11167, 7691, 3676], [1745, 20789]]]

In [209]:
norp_sentiment_df = pd.DataFrame([norp[0] for norp in norp_list])
norps_index = [x if type(x) == str else x[0] for x in norps]
norp_sentiment_df.index = norps_index
norp_sentiment_df.columns = labels[0]
sums = []
for norp in norps_index:
    s = norp_sentiment_df.loc[norp].sum()
    sums.append(s)
    for column in norp_sentiment_df.columns:
        norp_sentiment_df.loc[norp, column] = norp_sentiment_df.loc[norp, column]/s
norp_sentiment_df["Nr. of Tweets"] = sums     
norp_sentiment_df

                  Positive  Negative   Neutral  Nr. of Tweets
chinese           0.635294  0.223529  0.141176           85.0
republicans       0.463235  0.411765  0.125000          136.0
democrats         0.507463  0.395522  0.097015          134.0
indians           0.500000  0.387500  0.112500           80.0
german            0.375000  0.218750  0.406250           32.0
palestinians      0.448980  0.346939  0.204082           49.0
canadians         0.435897  0.358974  0.205128           39.0
russian           0.500000  0.250000  0.250000           16.0
african american  0.000000  0.285714  0.714286            7.0
hispanic          0.142857  0.142857  0.714286            7.0
All               0.495562  0.341306  0.163131        22534.0

In [210]:
norp_hate_df = pd.DataFrame([norp[1] for norp in norp_list])
norps_index = [x if type(x) == str else x[0] for x in norps]
norp_hate_df.index = norps_index
norp_hate_df.columns = labels[1]
sums = []
for norp in norps_index:
    s = norp_hate_df.loc[norp].sum()
    sums.append(s)
    for column in norp_hate_df.columns:
        norp_hate_df.loc[norp, column] = norp_hate_df.loc[norp, column]/s
norp_hate_df["Nr. of Tweets"] = sums     
norp_hate_df

                      True     False  Nr. of Tweets
chinese           0.023529  0.976471           85.0
republicans       0.132353  0.867647          136.0
democrats         0.179104  0.820896          134.0
indians           0.062500  0.937500           80.0
german            0.000000  1.000000           32.0
palestinians      0.102041  0.897959           49.0
canadians         0.051282  0.948718           39.0
russian           0.000000  1.000000           16.0
african american  0.142857  0.857143            7.0
hispanic          0.000000  1.000000            7.0
All               0.077439  0.922561        22534.0

In [184]:
orgs = [["cdc", 'fauci / cdc', "fauci"], "fda", ["j&j", "johnson & johnson",'jnj'],"eu",["astrazeneca", "az"],"All"]
classes = ["Polarity", "Hate"]
labels = [["Positive", "Negative", "Neutral"], [True, False]]

In [185]:
org_list = []
for org in orgs:
    if org != "All":
        split_list = df_tweets.Org.str.lower().str.split(";").apply(lambda d: d if isinstance(d, list) else [])
        if type(org) != list:
            df_tweets_org = df_tweets[[org in x for x in split_list]]
        else:
            # create all false boolean list
            boolean_list = np.array([False for x in split_list])
            for n in org:
                # combine two list with elementwise logical or operator
                boolean_list = boolean_list | np.array([n in x for x in split_list])
            df_tweets_org = df_tweets[boolean_list]
    else:
        df_tweets_org = df_tweets
    class_list = []
    for i, c in enumerate(classes):
        counts  = df_tweets_org[c].value_counts()
        label_list = []
        for label in labels[i]:
            try:
                label_list.append(counts[label])
            except:
                label_list.append(0)
        class_list.append(label_list)
    org_list.append(class_list)
org_list

[[[215, 240, 73], [72, 456]],
 [[176, 144, 35], [28, 327]],
 [[77, 50, 54], [5, 176]],
 [[37, 27, 11], [4, 71]],
 [[48, 19, 16], [6, 77]],
 [[11167, 7691, 3676], [1745, 20789]]]

In [211]:
org_sentiment_df = pd.DataFrame([org[0] for org in org_list])
orgs_index = [x if type(x) == str else x[0] for x in orgs]
org_sentiment_df.index = orgs_index
org_sentiment_df.columns = labels[0]
sums = []
for org in orgs_index:
    s = org_sentiment_df.loc[org].sum()
    sums.append(s)
    for column in org_sentiment_df.columns:
        org_sentiment_df.loc[org, column] = org_sentiment_df.loc[org, column]/s
org_sentiment_df["Nr. of Tweets"] = sums     
org_sentiment_df

             Positive  Negative   Neutral  Nr. of Tweets
cdc          0.407197  0.454545  0.138258          528.0
fda          0.495775  0.405634  0.098592          355.0
j&j          0.425414  0.276243  0.298343          181.0
eu           0.493333  0.360000  0.146667           75.0
astrazeneca  0.578313  0.228916  0.192771           83.0
All          0.495562  0.341306  0.163131        22534.0

In [212]:
org_hate_df = pd.DataFrame([org[1] for org in org_list])
orgs_index = [x if type(x) == str else x[0] for x in orgs]
org_hate_df.index = orgs_index
org_hate_df.columns = labels[1]
sums = []
for org in orgs_index:
    s = org_hate_df.loc[org].sum()
    sums.append(s)
    for column in org_hate_df.columns:
        org_hate_df.loc[org, column] = org_hate_df.loc[org, column]/s
org_hate_df["Nr. of Tweets"] = sums     
org_hate_df

                 True     False  Nr. of Tweets
cdc          0.136364  0.863636          528.0
fda          0.078873  0.921127          355.0
j&j          0.027624  0.972376          181.0
eu           0.053333  0.946667           75.0
astrazeneca  0.072289  0.927711           83.0
All          0.077439  0.922561        22534.0

In [192]:
# define gpes (conditions), classes and labels
gpes = ["g7","india","uk","china","moderna","canada","taiwan","israel","germany","brazil","russia","japan","mexico","guatemala" ,"texas","florida","nepal","california","australia","palestine", "iran","ohio","france","biontech","thailand","dc","philippines","south africa","korea","All"]
classes = ["Polarity", "Hate"]
labels = [["Positive", "Negative", "Neutral"], [True, False]]

In [194]:
gpe_list = []
for gpe in gpes:
    if gpe != "All":
        # slit the semi-colon seperated gpes into a list
        split_list = df_tweets.Gpe.str.lower().str.split(";").apply(lambda d: d if isinstance(d, list) else [])
        if type(gpe) != list:
            df_tweets_gpe = df_tweets[[gpe in x for x in split_list]]
        else:
            # if type is lsit we check if just one of the elements in the list is present
            # create all false boolean list
            boolean_list = np.array([False for x in split_list])
            for n in gpe:
                # combine two list with elementwise logical or operator
                boolean_list = boolean_list | np.array([n in x for x in split_list])
            df_tweets_gpe = df_tweets[boolean_list]
    else:
        # if All dataframe of analysis it the entire dataset
        df_tweets_gpe = df_tweets

    # count for each class
    class_list = []
    for i, c in enumerate(classes):
        counts  = df_tweets_gpe[c].value_counts()
        label_list = []
        
        # count for each label of the class
        for label in labels[i]:
            
            try:
                label_list.append(counts[label])
            except:
                label_list.append(0)
        class_list.append(label_list)
    gpe_list.append(class_list)
gpe_list

[[[989, 3, 3], [0, 995]],
 [[219, 120, 75], [25, 389]],
 [[145, 85, 19], [20, 229]],
 [[91, 115, 28], [25, 209]],
 [[76, 38, 44], [6, 152]],
 [[60, 26, 28], [6, 108]],
 [[44, 24, 10], [5, 73]],
 [[37, 40, 6], [5, 78]],
 [[30, 17, 14], [4, 57]],
 [[39, 12, 4], [6, 49]],
 [[28, 16, 5], [7, 42]],
 [[20, 14, 1], [3, 32]],
 [[18, 14, 9], [0, 41]],
 [[3, 0, 18], [0, 21]],
 [[20, 14, 3], [3, 34]],
 [[17, 16, 6], [2, 37]],
 [[25, 5, 2], [1, 31]],
 [[12, 7, 5], [1, 23]],
 [[13, 9, 2], [0, 24]],
 [[10, 13, 0], [1, 22]],
 [[9, 9, 1], [0, 19]],
 [[14, 1, 6], [1, 20]],
 [[11, 2, 1], [2, 12]],
 [[5, 6, 6], [0, 17]],
 [[8, 3, 4], [0, 15]],
 [[8, 2, 3], [0, 13]],
 [[11, 2, 2], [0, 15]],
 [[11, 1, 2], [0, 14]],
 [[9, 1, 2], [0, 12]],
 [[11167, 7691, 3676], [1745, 20789]]]

In [198]:
gpe_sentiment_df = pd.DataFrame([gpe[0] for gpe in gpe_list])
# build the index list by taking the first elements in case it is a list
gpes_index = [x if type(x) == str else x[0] for x in gpes]
gpe_sentiment_df.index = gpes_index
gpe_sentiment_df.columns = labels[0]
sums = []
for gpe in gpes_index:
    # sum for each row
    s = gpe_sentiment_df.loc[gpe].sum()
    sums.append(s)
    
    # devide the label counts by the entire class count for that condition to get probabilities
    for column in gpe_sentiment_df.columns:
        gpe_sentiment_df.loc[gpe, column] = gpe_sentiment_df.loc[gpe, column]/s
# save the total number of Tweets in the dataframe
gpe_sentiment_df["Nr. of Tweets"] = sums
gpe_sentiment_df

              Positive  Negative   Neutral  Nr. of Tweets
g7            0.993970  0.003015  0.003015          995.0
india         0.528986  0.289855  0.181159          414.0
uk            0.582329  0.341365  0.076305          249.0
china         0.388889  0.491453  0.119658          234.0
moderna       0.481013  0.240506  0.278481          158.0
canada        0.526316  0.228070  0.245614          114.0
taiwan        0.564103  0.307692  0.128205           78.0
israel        0.445783  0.481928  0.072289           83.0
germany       0.491803  0.278689  0.229508           61.0
brazil        0.709091  0.218182  0.072727           55.0
russia        0.571429  0.326531  0.102041           49.0
japan         0.571429  0.400000  0.028571           35.0
mexico        0.439024  0.341463  0.219512           41.0
guatemala     0.142857  0.000000  0.857143           21.0
texas         0.540541  0.378378  0.081081           37.0
florida       0.435897  0.410256  0.153846           39.0
nepal         0.781250  0.156250  0.062500           32.0
california    0.500000  0.291667  0.208333           24.0
australia     0.541667  0.375000  0.083333           24.0
palestine     0.434783  0.565217  0.000000           23.0
iran          0.473684  0.473684  0.052632           19.0
ohio          0.666667  0.047619  0.285714           21.0
france        0.785714  0.142857  0.071429           14.0
biontech      0.294118  0.352941  0.352941           17.0
thailand      0.533333  0.200000  0.266667           15.0
dc            0.615385  0.153846  0.230769           13.0
philippines   0.733333  0.133333  0.133333           15.0
south africa  0.785714  0.071429  0.142857           14.0
korea         0.750000  0.083333  0.166667           12.0
All           0.495562  0.341306  0.163131        22534.0

In [197]:
gpe_hate_df = pd.DataFrame([gpe[1] for gpe in gpe_list])
gpes_index = [x if type(x) == str else x[0] for x in gpes]
gpe_hate_df.index = gpes_index
gpe_hate_df.columns = labels[1]
sums = []
for gpe in gpes_index:
    s = gpe_hate_df.loc[gpe].sum()
    sums.append(s)
    for column in gpe_hate_df.columns:
        gpe_hate_df.loc[gpe, column] = gpe_hate_df.loc[gpe, column]/s
gpe_hate_df["Nr. of Tweets"] = sums
gpe_hate_df

                  True     False  Nr. of Tweets
g7            0.000000  1.000000          995.0
india         0.060386  0.939614          414.0
uk            0.080321  0.919679          249.0
china         0.106838  0.893162          234.0
moderna       0.037975  0.962025          158.0
canada        0.052632  0.947368          114.0
taiwan        0.064103  0.935897           78.0
israel        0.060241  0.939759           83.0
germany       0.065574  0.934426           61.0
brazil        0.109091  0.890909           55.0
russia        0.142857  0.857143           49.0
japan         0.085714  0.914286           35.0
mexico        0.000000  1.000000           41.0
guatemala     0.000000  1.000000           21.0
texas         0.081081  0.918919           37.0
florida       0.051282  0.948718           39.0
nepal         0.031250  0.968750           32.0
california    0.041667  0.958333           24.0
australia     0.000000  1.000000           24.0
palestine     0.043478  0.956522           23.0
iran          0.000000  1.000000           19.0
ohio          0.047619  0.952381           21.0
france        0.142857  0.857143           14.0
biontech      0.000000  1.000000           17.0
thailand      0.000000  1.000000           15.0
dc            0.000000  1.000000           13.0
philippines   0.000000  1.000000           15.0
south africa  0.000000  1.000000           14.0
korea         0.000000  1.000000           12.0
All           0.077439  0.922561        22534.0